<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962800229237-lj5v9o2cc750gon0m0kf7hol1ns75epf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962800229237-lj5v9o2cc750gon0m0kf7hol1ns75epf</string>
	<key>API_KEY</key>
	<string>AIzaSyDJpXc_T1t2-Ntm0ldyGUyHwdhQX3ROCto</string>
	<key>GCM_SENDER_ID</key>
	<string>962800229237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nouraleee.commit-clone</string>
	<key>PROJECT_ID</key>
	<string>commit-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>commit-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962800229237:ios:d048df8d07f60754f8113c</string>
</dict>
</plist>